# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env
.env.*

# Node
node_modules/
dist/
.DS_Store

# Logs
*.log
logs/

# Data & DB
internal.db
*.db
*.sqlite
data/uploads/
api/data/uploads/

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Build
build/
