[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User=navi
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:9100
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
